.linewp{
    padding: 1px;
}

.gridWP1_0{
    padding: 20px;
    border-radius: 50px;
    background-color: #B9FF66;
}

.gridWP2_0{
    padding: 20px;
    border-radius: 50px;
    background-color:  #B9FF66;
}

.gridWP3_0{
    padding: 20px;
    border-radius: 50px;
    background-color:  #B9FF66;
}

.gridWP4_0{
    padding: 20px;
    border-radius: 50px;
    background-color: #B9FF66;
}

.gridWP5_0{
    padding: 20px;
    border-radius: 50px;
    background-color:  #B9FF66;
}

.gridWP6_0{
    padding: 20px;
    border-radius: 50px;
    background-color:  #B9FF66;
}